
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

#root {
  margin: 0 0;
  padding: 0rem ;
  text-align: center;
  height: 100vh; /* Full screen height */
  min-height: 100vh;
}
body {
  font-family: 'Alexandria', sans-serif;
  height: 100vh;
  min-height: 100vh;

}

.logo {
  height: 4.68em;
  /* width: 7.5rem; */
  will-change: filter;
  transition: filter 300ms;
}
button {
  border: 1px solid #8354A3 transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #8354A3;
}
button.non-rounded {
  border-radius: 0 !important;
}

button.circle-border-btn {
  border-radius: 14px !important;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


