@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@400;600;700&display=swap');
@import "tailwindcss";
@theme {
  --font-script: Great Vibes, cursive;
}
@theme {
    --color-regal-black: #2A3547; 
    --color-regal-purple: #8354A3;

  }

  .filter-white {
    filter: brightness(0) invert(1);
  }