

.datePickerContainer {
  position: relative;
}

.datePickerImage {
  position: absolute !important;
  right: 2rem;
  bottom: 1.1rem;
  text-align: center;
  width: 3.2rem;
  height: 3.2rem;
  padding: 1px;
}



.datePickerInput {
  border: 1px solid #C8C8C8;
  padding: 0.5rem 1rem;
  font-size: .87rem;
  width: 100%;
  height: 3.8rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;


  &:focus,
  &:active {
    outline: 0;
    box-shadow: 0;
  }
}
.datePickerCalendar {
  z-index: 999;
  animation: slide-calendar-down 0.2s ease-in-out;
  overflow: hidden;
}


.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

@keyframes slide-calendar-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

.dateFieldError {
  position: absolute;
  left: 1px;
  bottom: -25px;
  text-transform: capitalize;
  font-size: 0.87rem;
}


.datePickerImage[lang='ar'] {
  left: 1rem;
  right: auto;
}

.react-datepicker {
    background-color: #f5efff !important;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #a855f7 !important;
    color: white !important;
  }
  
  .react-datepicker__day:hover {
    background-color: #d8b4fe !important;
  }
  
  .react-datepicker__day--selected:focus {
    outline: none;
    box-shadow: 0 0 0 2px #c084fc;
  }
  .react-time-picker__inputGroup{
    text-align: left !important;
  }
  .react-time-picker__input {
  width: 2rem;
  }
.react-time-picker__wrapper{
 border: none !important;
}

.custom-react-time-picker .react-time-picker__input {
  text-align: left !important; /* Align text to the left */
  padding-left: 8px !important; /* Add left padding */
  /* width: 100%; */
}
.react-time-picker__clock {
  display: none !important;
}
.react-time-picker__inputGroup__minute{
  text-align: left;
    margin-left: 01px !important;
    padding-left:0 !important ;

  /* width:1.5rem !important */
}
.react-time-picker__inputGroup__hour {
  text-align: left;
  margin-left: 01px !important;
    padding-left: 0 !important;

  /* width:20px !important */
}

.react-time-picker__inputGroup input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: white !important;
}

/* Remove red background when invalid */
.react-time-picker__inputGroup__input:invalid {
  box-shadow: none !important;
  background-color: white !important;
  outline: none !important;
}
